@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600&display=swap");
* {
  margin: 0;
  line-height: normal;
  font-family: var(--font-fira-code);
}

body {
  background-color: black;
}

:root {
  /* fonts */
  --font-fira-code: "Fira Code";

  /* font sizes */
  --font-size-xl: 20px;
  --font-size-13xl: 32px;
  --font-size-21xl: 40px;
  --font-size-5xl: 24px;
  --font-size-17xl: 36px;

  /* Colors */
  --color-black: #000;
  --color-white: #fff;
  --color-mediumspringgreen: #00cf6b;
  --color-springgreen-100: #00ff84;
  --color-springgreen-200: rgba(0, 255, 132, 0.81);
  --color-skyblue: rgba(61, 187, 215, 0.4);

  /* border radiuses */
  --br-6xs: 7px;
  --br-3xs: 10px;
  --br-381xl: 400px;
}

.navbar {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.859),
    rgba(0, 0, 0, 0)
  );
  background-size: cover;
  padding-top: 40px;
  padding-bottom: 20px;
  width: 100%;
  display: flex;
  align-items: center;
}

.navbar-mobile {
  display: none;
}
.navbar .link {
  background: none;
  border: none;
  color: var(--color-white);
  font-size: 17px;
  font-family: var(--font-fira-code);
  cursor: pointer;
  text-decoration: none;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.leftBtn {
  width: 57%;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 90px;
}

.rightBtn {
  width: 43%;
  display: flex;
  /* justify-content: space-around; */
  gap: 90px;
}

.home-section {
  width: 100%;
  /* height: 800px; */
  background-image: url("./images/bg.png");
  background-size: cover;
  background-color: black;
  display: flex;
  flex-direction: column;

}
.home-image{
  filter: drop-shadow(0px 0px 23px #03cc69);  
}

.event-section {
  width: 100%;
}

.bg-blank {
  height: 100px;
  width: 100%;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.859),
    rgba(0, 0, 0, 0)
  );
  /* position: relative;
  bottom: -50px; */
}

.about-section {
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
}

.about {
  width: 100%;
  height: 100vh;
  background-color: black;
}

.welcomeToOur {
  color: var(--color-white);
}
.cyberWebClub2 {
  color: var(--color-springgreen-100);
}
.span {
  letter-spacing: 0.08em;
}
.welcomeToOurSpancyberW {
  margin-block-start: 0;
  margin-block-end: 17px;
  line-height: 2;
  width: 600px;
}
.welcomeToOurContainer {
  font-size: 26px;
  line-height: 188.27%;
  width: 750px;
  height: 722px;
}
.domain-section {
  width: 100%;
  height: 100vh;
  background-color: black;
  height: 100%;
  margin-bottom: 60px;
  /* flex-direction: column; */
}

.what-section {
  width: 100%;
  height: 100vh;
  background-color: black;
  height: 100%;
  /* flex-direction: column; */
}

.card-bg {
  width: 100%;
  height: 100%;
  color: white;
}

.desc {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  margin-left: 20px;
}

.contact {
  background: none;
  outline: 1px solid #00ff84;
  border-radius: 3px;
  font-size: 20px;
  padding: 10px 10px;
  color: #0ca95d;
  width: 100%;
}

.register-contact {
  background: none;
  outline: 1px solid #00ff84;
  border-radius: 3px;
  font-size: 20px;
  padding: 10px 10px;
  color: #0ca95d;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
}

.error {
  font-size: 15px;
  color: rgba(255, 37, 37, 0.851);
  margin-bottom: 20px;
}

/* 
#scroll-container {
  scroll-behavior: smooth;
  overflow-y: scroll;
  height: 100vh; 
} */

/* === removing default button style ===*/
.button {
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
  cursor: auto;
}

/* button styling */
.button {
  --border-right: 6px;
  --text-stroke-color: rgba(255, 255, 255, 0.6);
  --animation-color: #37ff8b;
  --fs-size: 2em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: white;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}
/* this is the text, when you hover on button */
.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}
/* hover */
.button:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color));
}

/* reuseable btn */

.reuseBtn {
  min-height: 45px;
  min-width: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  position: relative;
  cursor: pointer;
  background: transparent;
  border: 2px solid #00f17d;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
}

.fontSize {
  font-size: 25px;
}
.reuseBtn:before {
  content: "";
  width: 40px;
  height: 28px;
  background: #000000;
  border: 2px solid #00f17d;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(135deg);
  position: absolute;
  border-top: 0;
  border-left: 0;
  border-bottom: 0;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  top: -19px;
  right: -25px;
}

/*  */
.cards {
  min-height: 245px;
  min-width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: start;
  -ms-flex-pack: distribute;
  justify-content: start;
  position: relative;
  cursor: pointer;
  background: #005c2f;
  border: 4px solid #00f17d;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
}

.cards:before {
  content: "";
  width: 70px;
  height: 118px;
  background: #000000;
  border: 4px solid #00f17d;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(235deg);
  position: absolute;
  border-top: 0;
  border-left: 0;
  border-bottom: 0;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  right: -8px;
  bottom: -56px;
}

/* .reuseBtn:after {
  content: "";
  position: absolute;
  left: -2px;
  bottom: -2px;
  border-top: 15px solid transparent;
  border-left: 15px solid #fffcf7;
} */

/* media query */

@media (max-width: 1280px) {
}

@media (max-width: 1030px) {
  .mobile-cards {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding-left: 75px;
    padding-right: 75px;
  }
  .leftBtn,
  .rightBtn {
    gap: 50px;
  }
  .mobile-subheading {
    margin-top: 180px;
  }

  .mobile-card-event{
    flex-direction: column;
    align-items: center;
  }

  .mobile-card-div{
    width: 100%;
    margin-left: 0;
  }
  .mobile-event-pad{
    padding: 0 40px;
  }
}
@media (max-width: 845px) {
  .leftBtn,
  .rightBtn {
    gap: 20px;
  }
  .link {
    font-size: 16px;
  }
  .tab-size {
    margin-left: 40px;
  }
  .about-section {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

}
@media (max-width: 768px) {
  /* navbar */
  .navbar {
    display: none;
  }

  .mobile-div {
    display: block;
  }
  .navbar-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0.859),
      rgba(0, 0, 0, 0)
    );
    background-size: cover;
    padding: 0 45px;
    padding-top: 40px;
    padding-bottom: 20px;
    width: 100%;
  }
  .mobile-btn {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
  }
  .mobile-btn:hover {
    background-color: #00f17da3;
    color: white;
  }

  .bg-glass {
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-top: none;
  }
  /* home */
  /* .bg-blank {
    position: absolute;
    bottom: 70px;
  } */
  /* about */
  .about-section {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    gap: 50px;
  }
  .fontSize {
    font-size: 19px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .welcomeToOurContainer {
    font-size: 22px;
    width: inherit;
    height: auto;
    padding: 0 20px;
    margin-top: 50px;
  }
  .mobile-none {
    display: none;
  }
  .mobile-position {
    bottom: 0;
  }
  .mobile-about-img-size {
    width: 65%;
  }
  /* domain */
  .domain-section {
    margin-top: 100px;
  }
  .heading {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mobile-subheading {
    margin-top: 100px;
    margin-left: 0;
  }
  .mobile-cards {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .mobile-upper-form {
    width: auto;
  }
  .contact {
    width: 100%;
  }
  .mobile-form {
    width: 72%;
  }
  /* join */
  .mobile-join {
    width: 50px;
  }
  .mobile-dev {
    flex-direction: column;
    align-items: center;
  }
  /* register */
  .mobile-register {
    flex-direction: column;
    width: 100%;
  }
}

@media (max-width: 420px) {
  .mobile-size {
    width: 56%;
  }
  .mobile-heading {
    font-size: 28px;
    text-align: center;
  }
  .welcomeToOurContainer {
    margin-top: 120px;
  }
  .domain-section {
    margin-top: 210px;
  }
}
